/* 
#4C3A51
#774360
#B25068
#E7AB79 
*/

html {
  overflow-y: hidden;
  height: 100%;
}

body {
  background-color: #774360;
  height: 100%;
  /* -webkit-app-region: drag; */
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

nav {
  z-index: 5;
  background-color: #4c3a51;
  height: 40px;
  width: 100vw;
  position: fixed;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  -webkit-app-region: drag;
}

#settings-contents {
  position: relative;
  top: 40px;
  height: 100%;
}

#title-text-div {
  position: absolute;
  width: 100%;
  bottom: 1%;
  text-align: right;
}

#title-text {
  margin-right: 10px;
  color: #4c3a51a9;
}

#settings-page-button,
#effects-page-button,
#fxBuilder-page-button {
  position: absolute;
  z-index: 6;
  width: 150px;
  height: 100%;
  -webkit-app-region: no-drag;
  background-color: #4c3a51;
  color: #e7ab79;
  border: none;
  border-radius: 5px 5px 0 0;
  font-size: 19px;
}

#settings-page-button {
  left: 0px;
  background-color: #774360;
}

#effects-page-button {
  left: 150px;
}

#fxBuilder-page-button {
  left: 300px;
}

#exit-button {
  position: absolute;
  z-index: 6;
  right: 5px;
  -webkit-app-region: no-drag;
}

#minimize-button {
  position: absolute;
  z-index: 6;
  right: 40px;
  -webkit-app-region: no-drag;
}

#configure-port-div,
#port-status-div,
#effects-div,
#visualizer-div {
  margin: auto;
  width: 49%;
  height: 180px;
  border: 1px;
  border-style: none;
  background-color: #733f5c;
  border-radius: 15px;
  margin-top: 20px;
}

#effects-div {
  height: 250px;
}

#visualizer-div {
  width: 80%;
}

#port-status-div {
  height: 82px;
}
#status-text {
  position: relative;
  color: #e7ab79;
  margin-left: 20px;
}

#effect-description-text {
  position: relative;
  color: #e7ab79;
  margin-top: 10px;
}

#configure-buttons-div,
#configure-effects-div,
#visualizer-canvas-div {
  position: relative;
  margin-left: 20px;
  top: 10%;
}

#page-title-text {
  position: relative;
  color: #e7ab79;
  top: 15px;
  margin-left: 20px;
}

#connect-button,
#apply-button {
  background-color: #4c3a51;
  color: #e7ab79;
  border: none;
}

#effects-contents,
#fxBuilder-contents {
  position: absolute;
  top: 40px;
  height: 100%;
  width: 100%;
}

#visualizer-canvas {
  position: relative;
  width: 100%;
  height: 100%;
}

#checkbox-div {
  position: relative;
  top: 10px;
}

#checkbox {
  position: relative;
  width: 100%;
  top: 10px;
  color: #ce9668;
}

#fxBuilder-div {
  margin: auto;
  width: 90%;
  height: 580px;
  border: 1px;
  border-style: none;
  background-color: #733f5c;
  border-radius: 15px;
  margin-top: 20px;
}

#fxBuilder-grid {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(32, 1.5em);
  grid-template-rows: repeat(8, 1.5em);
}

.fxBuilder-btn {
  border: 0.2px solid;
  border-radius: 2px;
  background-color: white;
}
